<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acne</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_acne">
        <div class="row">
            <div class="col">
                <h2>Disease Name - Acne</h3>
                <h3>Causes</h3>
                <ul>
                    <li>In the teenage years, there are considerable hormonal changes that can cause sebaceous glands to produce excessive oil, activating acne. </li>
                    <li>Emotional and mental stress is another significant aspect influencing changes in hormones which further produces acne on skin.</li>
                    <li>If you take foods that have a high Glycemic Index, it can also result in acne over your skin.The following foods have high GI
                        <ul class="sublist">
                            <li>processed food products like chips,</li>
                            <li>sugary foods like candy bars,</li>
                            <li>white rice. </li>
                        </ul>
                    </li>
                    <li>A wrong or misled skincare regimen will repay your efforts with stubborn acne along with other skin issues</li>
                </ul>
            </div>
            <div class="col">
                    <div class="cardacne">

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col disease disease1">
                <h3>Do's</h3>
                <ul>
                    <li><h4>Do keep it clean</h2></li>
                    <p>Wash your skin twice a day (no more, no less). You may want to choose a wash with active ingredients. Gentle cleansers without active ingredients are also helpful as well to decrease any irritation that may arise with acne treatments. To slough away dead skin cells, consider using an exfoliating cleanser once or twice each week.</p>
                    <li><h4>Do look for active ingredients</h4></li>
                    <p>The active ingredients you choose depend on which type of acne you have and your skin type. In general, doctors recommend cleansers and acne treatments that contain one of four active ingredients:</p>
                    <ul class="sublist">
                        <li>Benzoyl peroxide</li>
                        <li>Salicylic acid</li>
                        <li>Adapalene</li>
                    </ul>
                    <li><h4>Do wear SPF</h4></li>
                    <p>The best thing you can do for your skin — whether you have acne or not — is to wear oil-free, broad-spectrum sunscreen daily. Wearing sunscreen is especially important if you're treating acne because ingredients like retinol, benzoyl peroxide and salicylic acid make your skin more sensitive to the sun.</p>
                    <li><h4>Do moisturize</h4></li>
                    <p>It may seem counterintuitive to moisturize skin that's already oily, but acne treatments are drying and it's important to keep skin hydrated and support the skin's natural barrier. Just be sure to choose a moisturizer that's labeled noncomedogenic and oil-free, which means it won’t clog pores or lead to acne formation.</p>
                </ul>
            </div>
            <div class="col disease disease2">
                <h3>Don'ts</h3>
                <ul>
                    <li><h4>Don't over-exfoliate</h4></li>
                    <p>While it's tempting to try to scrub acne away, over-exfoliating can strip the skin of natural oils, worsen irritation and make breakouts worse.</p>
                    <li><h4>Don't expect to see results immediately</h4></li>
                    <p>You won't see noticeable changes from a new product for at least six to eight weeks. Don’t give up too soon!</p>
                    <li><h4>Don't wear heavy makeup</h4></li>
                    <p>Makeup can clog pores and lead to acne, especially if it's oil-based and heavy. These products also make it difficult for your skin to breathe.</p>
                    <li><h4>Don't pop your pimples</h4></li>
                    <p>Picking at your pimples or popping them not only makes a small pimple look much worse, but it can also extend healing time and increase the risk of scarring.</p>
                    <li><h4>Don't overdo face washing</h4></li>
                    <p>It may seem intuitive that washing your face more can help get rid of those pesky zits and blackheads, but you may just make things worse.</p>
                    <li><h4> Don't be cruel to your skin</h4></li>
                    <p>We shared a few things you should try to avoid:</p>
                    <ul class="sublist">
                        <li>Products that irritate your skin</li>
                        <li>Vigorous scrubbing or rubbing</li>
                        <li>Touching or resting your hands on your face</li>
                        <li>Squeezing, picking and frequent popping </li>
                        <li>Don't overexamine your skin</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>