<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eczema</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_acne">
        <div class="row">
            <div class="col">
                <h2>Disease Name - Eczema</h2>
                <h3>Causes</h3>
                <ul>
                    <li>You're more likely to have eczema if there is a history of dermatitis in your family. Allergens are substances like pollen, pet hair or foods that trigger an allergic reaction. </li>
                    <li>You're also at a higher risk if there's a history of asthma, hay fever and/or allergens.Also, there might be a change in your genes that control a protein that helps your body maintain healthy skin.</li>
                    <li>There is a lot in your environment that can irritate your skin. Some examples include exposure to tobacco smoke, air pollutants, harsh soaps, fabrics such as wool and some skin products. </li>
                    <li>Your stress levels can cause or worsen your eczema. There are mental/emotional signs of stress and physical signs of stress. They include:</li>
                    <ul class="sublist">
                        <li>Depression.</li>
                        <li>Difficulty relaxing.</li>
                        <li>Use of alcohol, tobacco, or illegal drugs to relax.</li>
                    </ul>
                </ul>
            </div>
            <div class="col">
                    <div class="cardeczema">

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col disease disease1">
                <h3>Do's</h3>
                <ul>
                    <li><h4>Do Moisturize</h2></li>
                    <p>Dry skin can lead to flare-ups. Apply lotion, cream, or ointment to your skin. It's especially important right after a bath and during cold months, when you've got the heat on.</p>
                    <li><h4>Do Skip the Scents</h4></li>
                    <p>Steer clear of lotions, soaps, or detergents with fragrance. Mild, dye-free, unscented products are less likely to trigger a reaction in your skin.</p>
                    <li><h4>Do Dress for Success</h4></li>
                    <p>Itchy clothes can scratch and irritate your skin. Soft, breathable fabrics like 100% cotton are best.So, it's better to wear cotton colthes to avoid Eczema.</p>
                    <li><h4>Do take medications</h4></li>
                    <p>DO take all pills and medications prescribed by your health care provider. Don't stop taking the medicines unless your health care provider approves.</p>
                    <li><h4>Do Avoid Allergens</h4></li>
                    <p>More than 35% of people with eczema also have a food allergy. Be sure you know what might be kicking your eczema into high gear. Dust, pollen, or pet dander could also be culprits.</p>
                </ul>
            </div>
            <div class="col disease disease2">
                <h3>Don'ts</h3>
                <ul>
                    <li><h4>Don't Use Just Any Lotion</h4></li>
                    <p>The “oilier” a moisturizer, the better it can hold water inside your skin. Stick with an ointment or cream with a high oil content, and layer it on thick.</p>
                    <li><h4>Don't Scratch</h4></li>
                    <p>Eczema itches, and little hands have a hard time leaving it alone. But messing with it makes it worse, and can even lead to infection. It's better to not scratch your skin.. Keep nails trimmed short in case you forget.</p>
                    <li><h4>Don't Ignore Infection</h4></li>
                    <p>Skin with eczema is at risk for bacteria or viruses. Keep an eye out for signs of infection, so you can treat them quickly. These can include:</p>
                    <ul class="sublist">
                        <li>Weeping</li>
                        <li>Bumps filled with pus</li>
                    </ul>
                    <li><h4>Don't Use Hand Sanitizers</h4></li>
                    <p>Waterless, antibacterial cleansers are hard on skin. Always wash your hands with water. Keep it cool, pat dry (instead of rubbing), and moisturize right after you're done.</p>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>