<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnose Diseases</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="rowindex">
            <div class="col">
                <h1>Diagnose Diseases</h1>
                <p>We help you diagnose the diseases using the technology of face recognition where we scan the part of your body.We can help you diagnose Skin Diseases.We use the modern technology of face recognition for that.</p>
                <a href="skindisease.html"><button type="button">Skin Diseases</button></a>
                <a href=""><button type="button" class="b">Bone Fracture</button></a>
            </div>
            <div class="col">
                <a href="skindisease.html">
                    <div class="card card1">
                        <h5>Skin Diseases</h5>
                        <p>Diagnose skin diseases by clicking here.</p>
                    </div>
                </a>
                <a href="">
                    <div class="card card2">
                        <h5>Bone Fracture</h5>
                        <p>Diagnose bone fracture by clicking here.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>