<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melanoma</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_acne">
        <div class="row">
            <div class="col">
                <h2>Disease Name - Melanoma</h2>
                <h2>(Skin Cancer)</h2>
                <h3>Causes</h3>
                <ul>
                    <li>Melanoma occurs when something goes wrong in the melanin-producing cells (melanocytes) that give color to your skin.</li>
                    <li>Normally, skin cells develop in a controlled and orderly way — healthy new cells push older cells toward your skin's surface, where they die and eventually fall off. But when some cells develop DNA damage, new cells may begin to grow out of control and can eventually form a mass of cancerous cells.</li>
                    <li>Just what damages DNA in skin cells and how this leads to melanoma isn't clear. It's likely that a combination of factors, including environmental and genetic factors, causes melanoma.</li>
                </ul>
            </div>
            <div class="col">
                    <div class="cardmelanoma">

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col disease disease1">
                <h3>Do's</h3>
                <ul>
                    <li><h4>Keep Control of Conversations</h2></li>
                    <p>If you're exhausted from explaining your diagnosis over and over again, direct people to a web site or choose a friend or family member to answer questions.</p>
                    <li><h4>Sex After Melanoma</h4></li>
                    <p>If your body doesn't have enough white blood cells, which can happen with chemo, don't have vaginal or anal sex until your levels go back up. You might get an infection, and you would need those cells to fight it.</p>
                    <li><h4>Shield Your Skin</h4></li>
                    <p>Every time you go outside, wear a broad-spectrum sunscreen, which protects against UVA and UVB rays. It should have an SPF of at least 30. Reapply at least every 2 hours, and more often if you're swimming, sweating, or spending time near water or snow.</p>
                    <li><h4>Do take medications</h4></li>
                    <p>DO take all pills and medications prescribed by your health care provider. Don't stop taking the medicines unless your health care provider approves.</p>
                    <li><h4>Get Back to Your Workouts</h4></li>
                    <p>Keep in mind that melanoma treatment may have affected your stamina. Even if you were super active before the diagnosis, start out slowly when you're getting back to your workouts after treatment.</p>
                </ul>
            </div>
            <div class="col disease disease2">
                <h3>Don'ts</h3>
                <ul>
                    <li><h4>Don't rush a treatment decision</h4></li>
                    <p>Take the time to educate yourself about treatment options and the pros and cons of each. Discuss your options and their implications with your doctor, your family or others if you wish to receive their input.</p>
                    <li><h4>Don't depend on Dr. Google</h4></li>
                    <p>Don'T depend on Dr. Google until you know that you can trust the reliability of a health or medical website. Find accurate, medically reviewed skin cancer information here.</p>
                    <li><h4>Don't Drink Alcohol</h4></li>
                    <p>Don't Drink Alcohol because it can make the condition of the affected part even worse. Alcohol is injurious to the health and it can also leads to Hives even if you aren't suffering.</p>
                    <li><h4>Don't hesitate to speak up</h4></li>
                    <p>Don't hesitate to speak up if you are unclear or have questions for your doctor or any other health care team member.
                    Talk to your family members and tell them about the disease.They are always ready to help you.</p>
                    <li><h4>Don't stop medications</h4></li>
                    <p>Don't forget your daily skin regimen even if you feel well. Plan ahead for trips by saving some of your usual products. If you will stop the medications in the middle then it will take too long to get rid of Melanoma.</p>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>