<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psoriasis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_acne">
        <div class="row">
            <div class="col">
                <h2>Disease Name - Psoriasis</h2>
                <h3>Causes</h3>
                <ul>
                    <li>Psoriasis is a skin disease that causes a rash with itchy, scaly patches, most commonly on the knees, elbows, trunk and scalp.</li>
                    <li>Many people who are predisposed to psoriasis may be free of symptoms for years until the disease is triggered by some environmental factor. Common psoriasis triggers include:</li>
                    <ul class="sublist">
                        <li>Infections, such as strep throat or skin infections.</li>
                        <li>Weather, especially cold, dry conditions.</li>
                        <li>Injury to the skin, such as a cut or scrape, a bug bite, or a severe sunburn.</li>
                        <li>Smoking and exposure to secondhand smoke.</li>
                        <li>Heavy alcohol consumption.</li>
                        <li>Certain medications — including lithium, high blood pressure drugs and antimalarial drugs.</li>
                    </ul>
                </ul>
            </div>
            <div class="col">
                    <div class="cardpsoriasis">

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col disease disease1">
                <h3>Do's</h3>
                <ul>
                    <li><h4>Do talk to a dermatologist</h2></li>
                    <p>Make an appointment with a dermatologist who specializes in treating psoriasis — he or she will be aware of the latest developments regarding treatment plans. Be prepared to discuss the details of your condition with your doctor, including when you first noticed it.</p>
                    <li><h4>Do moisturize</h4></li>
                    <p> Dry skin is more susceptible to outbreaks of psoriasis, so keep your skin well lubricated. After bathing or showering, seal in moisture by applying a generous amount of moisturizing cream or ointment to your skin.</p>
                    <li><h4>Do take a soak</h4></li>
                    <p>Soaking in a warm (not hot) bath for 15 minutes can help loosen scales and help reduce the itching and inflammation caused by psoriasis.</p>
                    <li><h4>Do get some sun</h4></li>
                    <p>For reasons experts still don't fully understand, psoriasis lesions often diminish when exposed to ultraviolet light. Your doctor may also recommend ultraviolet light therapy.</p>
                    <li><h4>Do reach out</h4></li>
                    <p>Having psoriasis isn't just physically tough — it can be difficult emotionally as well. Feelings of depression, frustration, and isolation are common.So, Discuss your feelings about the disease with your family, friends, and doctor.</p>
                </ul>
            </div>
            <div class="col disease disease2">
                <h3>Don'ts</h3>
                <ul>
                    <li><h4>Don't overdo it</h4></li>
                    <p>The best way to handle psoriasis is to do so gently. Avoid the temptation to scratch or scrub lesions, which will only irritate them, making them worse. Try not to pick at scales, which can cause bleeding and increase your risk of infection.</p>
                    <li><h4>Don't stress out</h4></li>
                    <p>Some people with psoriasis say their condition worsens when they're under stress. Avoid stressful situations when you can, and take extra steps to take care of yourself.</p>
                    <li><h4>Don't ignore flare-ups</h4></li>
                    <p>Psoriasis is a lifelong condition. But that doesn't mean you just have to live with it. If your psoriasis returns after a period of being under control, schedule a visit with your doctor to find out why, and to decide what can be done to treat it. </p>
                    <li><h4>Don't give up</h4></li>
                    <p>It may take some time to find the right therapy or combination of therapies that works best for you.So, Be patient and don't give up. </p>
                    <li><h4>Don't stop medications</h4></li>
                    <p>Don't forget your daily skin regimen even if you feel well. Plan ahead for trips by saving some of your usual products. If you will stop the medications in the middle then it will take too long to get rid of Psoriasis.</p>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>