<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinea Versicolor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container_acne">
        <div class="row">
            <div class="col">
                <h2>Disease Name - </h2>
                <h2>Tinea Versicolor</h2>
                <h3>Causes</h3>
                <ul>
                    <li>An overgrowth of yeast on your skin's surface causes tinea versicolor. This yeast thrives in warm, moist and oily environments, causing it to grow out of control in small colonies. These yeast colonies cause the symptoms of tinea versicolor.</li>
                    <li>Some things that can trigger the yeast to grow out of control are:</li>
                    <ul class="sublist">
                        <li>Hormonal changes.</li>
                        <li>Weakened immune system.</li>
                        <li>Hot, humid weather.</li>
                        <li>Sweating.</li>
                        <li>Oily skin.</li>
                    </ul>
                </ul>
            </div>
            <div class="col">
                    <div class="cardtinea">

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col disease disease1">
                <h3>Do's</h3>
                <ul>
                    <li><h4>Do Avoid excessive sweating</h2></li>
                    <p>Tinea Versicolor is a fungal disease. The yeast that causes this infection occurs naturally on the skin. This yeast usually occurs naturally on sweating skin. So, it's better to avoid excessive sweating.</p>
                    <li><h4>Do wear dry loose cotton clothes</h4></li>
                    <p>Wear dry loose cotton clothes. Try to find inner garments which are 100 % pure cotton. Make use of fans or air conditioners at night to keep the affected part well ventilated.</p>
                    <li><h4>Do take a bath twice a day</h4></li>
                    <p>Always use lukewarm water. Avoid using very hot water. Hot water favors fungal growth in the body. Wash the affected parts with cold water once you are done taking a bath.</p>
                    <li><h4>Do use antifungal dusting powders</h4></li>
                    <p>Use antifungal dusting powders for your skin folds such as underarms, thigh folds, below breasts, and between the toes.</p>
                    <li><h4>Do eat healthy food</h4></li>
                    <p> Eat healthy food, keep your body weight ideal for your height because being overweight or underweight leads to reduced immunity which increases the chances of acquiring a fungal infection.Ask if any of your family members have a similar fungal infection. If so, encourage them to take treatment.</p>
                </ul>
            </div>
            <div class="col disease disease2">
                <h3>Don'ts</h3>
                <ul>
                    <li><h4>Don't wear synthetic clothes</h4></li>
                    <p>Do not wear synthetic clothes, tight-fitting jeans that do not allow air to flow through them, and wet inner clothes. Do not wear inners while at home. Just allow air to flow freely through the affected part.</p>
                    <li><h4>Don't use over-the-counter (OTC) medications</h4></li>
                    <p> Do not use over-the-counter (OTC) medications for Tinea Versicolor. Most of these OTC creams contain steroids, which give faster relief from itching, but they make the yeast spread to a larger area and make the routine treatment insufficient.</p>
                    <li><h4>Don't use home remedies</h4></li>
                    <p>Do not use home remedies such as garlic paste to get rid of ringworm. This could burn your skin and leave a permanent scar. </p>
                    <li><h4>Don't scratch</h4></li>
                    <p> Do not scratch. Scratching makes the rash worse. Ask your dermatologist to prescribe anti-itching medicine.
                    Scratching can worsen the skin condition.
                    </p>
                    <li><h4>Don't stop medications</h4></li>
                    <p>Don't forget your daily skin regimen even if you feel well. Plan ahead for trips by saving some of your usual products. If you will stop the medications in the middle then it will take too long to get rid of Tinea Versicolor..</p>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>